.aboutPage {
  // margin-top: 5%;
}

.top {
  margin-bottom: 5%;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-darkBlue, 0.8),
    rgba($color-lightBlue, 0.8)
  );
}

.authorPics {
  width: 100%;
  border-radius: 5%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
}

.aside-1 {
  margin: auto;
}

.aside-2 {
  @include respond(phone) {
    display: none;
  }
}
